.livros {
  max-width: 960px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
}

.livros h1 {
  font-size: 3em;
  margin: 0 10px 60px 10px;
}

.livros-item {
  margin: 10px;
  width: 220px;/* 300px; */
  height: 475px;
  background: #f7f7f7;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.4);
}

.livros-item h2, .livros-item h3 {
  font-size: 0.8em;
  color: #5d5d5d;
  padding: 20px 20px;
}

.livros-item h3 {
  font-size: 0.7em;
  margin-top: -30px !important;
}

.livros-item h4 {
  font-size: 0.7em;
  color: #5d5d5d;
  padding: 0px 20px;
  margin-top: -30px !important;
}

.livros-item img {
  width: 100%;
  height: 41vh;
  margin-bottom: -5px;
  border-bottom: 1px solid #0101;
}

.buttonCart {
  display: flex !important;
  justify-content: center;
  margin: 0 20px;
}

.buttonCart button {
  width: 100%;
  border-radius: 3px;
  background: #543e31;
  justify-content: center;
}

.livros-item button:hover {
  background: #2b211b;
}
 

@media (max-width: 976px) {
  .livros {
    justify-content: center;
  }
  .livros-item {
    margin: 10px;
    width: 280px;
  }
}