.menu-bg {
  background: #2c70ff;
  -moz-box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.4);
}

.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: white;
}

.menu-logo a {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
}

.menu-nav a:hover {
  color: #122ab2;
}

@media (max-width: 515px) {
  .menu {
    justify-content: center;
  }
}

@keyframes animaHeader {
  0% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    opacity: 1;
  }
}

.menu-bg.fixed {
  position: fixed;
  top: 0px;
  width: 100%;
  animation: animaHeader .3s ease-in-out .3s backwards;
  -webkit-animation: animaHeader .3s ease-in-out .3s backwards;
}