body, h1, h2, h3, p , ul {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  color: #252525;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
}

@media (max-width: 739px) {
  .container {
    flex-direction: column;
    max-width: 300px;
  }
}